<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.line.system.mapper.TActionLogMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.line.system.entity.TActionLogEntity">
        <id column="id" property="id" />
        <result column="sprint_id" property="sprintId" />
        <result column="sprint_action_id" property="sprintActionId" />
        <result column="action_name" property="actionName" />
        <result column="action_exe_status" property="actionExeStatus" />
        <result column="log" property="log" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sprint_id, sprint_action_id, action_name, action_exe_status, log
    </sql>

</mapper>
